.row_2,
.row_3 {
  display: grid; /* Đặt hiển thị của các phần tử này thành grid */
  gap: 1rem; /* Thiết lập khoảng cách giữa các ô trong grid là 1 rem */
}

.row_2 {
  grid-template-columns: 1fr 1fr; /* Tạo hai cột có chiều rộng bằng nhau */
  margin-bottom: 1rem; /* Thêm margin dưới cho phần tử này */
}

.row_3 {
  grid-template-columns: 1fr 1fr 1fr; /* Tạo ba cột có chiều rộng bằng nhau */
}

.row_2 button,
.row_3 button {
  background: none; /* Loại bỏ nền của nút */
  border: none; /* Loại bỏ viền của nút */
  padding: 0; /* Loại bỏ padding của nút */
  transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi khi nút được hover */
}

.row_2 img,
.row_3 img {
  width: 100%; /* Đảm bảo rằng hình ảnh đầy đủ chiều rộng của ô chứa nó */
  height: auto; /* Tự động tính toán chiều cao dựa trên chiều rộng để tránh biến dạng hình ảnh */
  transition: opacity 0.3s ease; /* Thêm hiệu ứng chuyển đổi khi độ mờ của hình ảnh thay đổi */
}

.row_2 button:hover,
.row_3 button:hover {
  opacity: 0.7; /* Đặt độ mờ của nút khi hover là 0.7, tạo ra hiệu ứng mờ */
}
